@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background: #c4c7c8;
    font-family: 'Open Sans', sans-serif;
}
 
#root {
    display: flex;
    justify-content: center;
}
 
a {
    text-decoration: none;
    color: blue;
}
 
a:hover {
    text-decoration: underline;
    color: rgb(25, 161, 43);
}